@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
	font-family: "Punk";
	src: url("./assets/fonts/mustasurma/Mustasurma.ttf");
}

html,
body {
	width: 100%;
	padding: 0;
	margin: 0;
}

html {
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	max-width: 2000px;
	display: flex;
	flex-direction: column;
	font-family: "Montserrat";
	color: white;
	background-color: black;
}

/* Header Styles */

header {
	display: flex;
	padding: 20px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

picture {
	transition: all 0.3s ease-in-out;
}

.title-wrapper {
	display: grid;
}

.title,
.main-title {
	grid-area: 1/1;
}

.hidden {
	opacity: 0;
}

.one {
	transform: translate(50px, 50px);
}

.two {
	transform: translate(-50px, -50px);
}

h1 {
	width: fit-content;
	height: fit-content;
	font-family: "Punk";
	font-size: 72px;
	font-weight: 500;
	transition: font-size 0.3s ease-in-out;
}

.move {
}

@keyframes jump {
	0% {
		color: red;
	}
	100% {
		color: purple;
	}
}

.about-wrapper {
	max-width: 1500px;
}

.about-p {
	max-width: 1100px;
}

.header-icon {
	width: 30px;
}

.linkedin {
	width: 37px;
}

/* body styles */
main {
	display: flex;
	padding: 20px;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

h3 {
	font-family: "Punk";
	font-weight: 500;
	font-size: 48px;
}

.article-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 30px;
}

article {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.project-img {
	max-width: 400px;
	object-fit: fill;
}

.project-title {
	display: flex;
	justify-content: space-between;
}

.main-icon {
	width: 25px;
}

@media (max-width: 600px) {
	h1 {
		font-size: 47px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	h3 {
		font-size: 34px;
	}
	.hero-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	* {
		text-align: center;
	}
	.project-img,
	article {
		max-width: 300px;
	}
}

@media (max-width: 360px) {
	h1 {
		font-size: 34px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	h3 {
		font-size: 30px;
	}
	.contact-header {
		font-size: 27px;
	}
	.project-img,
	article {
		max-width: 250px;
	}
}
